.idea
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/extjs/build/*
/extjs/bootstrap.css
/extjs/bootstrap.js
/extjs/bootstrap.json
/extjs/bootstrap.jsonp
/extjs/index.html
/extjs/sass/example/bootstrap.json
/extjs/sass/example/bootstrap.jsonp
/extjs/sass/example/bootstrap.js
/extjs/sass/example/example.css

.sass-cache