/* -------------基础配置---------------- */
$app-theme-color: #00bcbc;
$app-theme-color-darker: #019696;
$app-body-bg-color: #eaeef1;
$app-grid-header-bd-color: #abdbdf;
$app-grid-header-bg-color: #c6edf0;
$app-grid-row-hover-bg-color: #e6faf9;
$app-grid-row-selected-bg-color: #c3f2f5;
$app-grid-row-bg-color-darker: #f3f4f6;
$app-nav-wrapper-bg-color: #f9ffff;
$app-font-color: #00263c;
$app-font-color-disabled: #a9b0b5;
$app-icon-color: #9aa2ac;
$app-icon-color-disabled: #ccd1d5;
$app-bd-color: #e5e5e5;
$app-input-bd-color: #ccc;
$app-btn-bg-color: $app-theme-color;
$app-btn-hover-bg-color: #00d4d5;
$app-btn-active-bg-color: #00a9a9;