/* ------------主題包内部定义的变量-------------- */
$button-default-background-color: $app-btn-bg-color;
$button-default-background-color-over: $app-btn-hover-bg-color;
$button-default-background-color-pressed: $app-btn-active-bg-color;

$button-toolbar-color: #fff;
$button-toolbar-background-color: $app-btn-bg-color;
$button-toolbar-background-color-over: $app-btn-hover-bg-color;
$button-toolbar-background-color-pressed: $app-btn-active-bg-color;
$button-toolbar-inner-border-width-focus: 0;

$button-default-base-color: $app-theme-color;
$button-default-base-color-over: $app-theme-color;
$button-default-inner-border-width-focus: 0;

