/* ------------主題包内部定义的变量-------------- */
$datepicker-next-glyph: dynamic($fa-var-angle-double-right 16px $font-icon-font-family);
$datepicker-prev-glyph: dynamic($fa-var-angle-double-left 16px $font-icon-font-family);
$datepicker-arrow-width: dynamic(16px);
$datepicker-arrow-height: dynamic(16px);
$datepicker-header-padding: dynamic(4px 6px);
$datepicker-month-button-font-size: dynamic($button-small-font-size);
$datepicker-month-button-padding: dynamic($button-small-padding);
$datepicker-month-button-arrow-width: dynamic($button-small-arrow-width);
$datepicker-month-button-arrow-glyph: dynamic($fa-var-angle-down 16px $font-icon-font-family);
$datepicker-item-height: dynamic(25px);
$datepicker-item-width: dynamic(30px);
$datepicker-item-padding: dynamic(0 7px 0 0);
$datepicker-item-font-size: dynamic($font-size);
$datepicker-item-font-weight: dynamic($font-weight);
$datepicker-column-header-font-size: dynamic($datepicker-item-font-size);
$datepicker-column-header-font-weight: dynamic($datepicker-item-font-weight);
$datepicker-column-header-border-width: dynamic(0 0 1px);
$datepicker-column-header-height: dynamic($datepicker-item-height);
$datepicker-column-header-item-padding: dynamic(0 9px 0 0);
$datepicker-item-border-width: dynamic(0);
$datepicker-item-selected-font-weight: dynamic($font-weight-bold);
$datepicker-footer-border-width: dynamic(1px 0 0);
$datepicker-footer-padding: dynamic(3px 0);
$datepicker-footer-button-spacing: dynamic(4px);
$datepicker-monthpicker-border-width: dynamic($datepicker-border-width);
$datepicker-monthpicker-item-border-width: dynamic($datepicker-item-border-width);
$datepicker-monthpicker-item-font-size: dynamic($datepicker-item-font-size);
$datepicker-monthpicker-item-font-weight: dynamic($datepicker-item-font-weight);
$datepicker-monthpicker-item-margin: dynamic(5px);
$datepicker-monthpicker-item-height: dynamic(24px);
$datepicker-monthpicker-yearnav-button-height: dynamic(16px);
$datepicker-monthpicker-yearnav-button-width: dynamic(16px);
$datepicker-monthpicker-separator-border-width: dynamic(1px);
$datepicker-monthpicker-small-item-margin: dynamic(2px 5px);
$datepicker-monthpicker-small-item-height: dynamic($datepicker-monthpicker-item-height);