/* ------------主題包内部定义的变量-------------- */
$form-field-height: 30px;  // 表单控件高度
$form-textarea-body-height: 55px;  // 表单textarea高度
$form-text-field-border-color: $app-input-bd-color;  // textfield
$form-display-field-line-height: $form-field-height;  // displayfield
$fieldset-padding: 0 10px 10px;  // fieldset
$fieldset-header-font-size: 12px;
