/* -------------用戶自定义的变量---------------- */
$header-color: #fff;  // 头部文字颜色
$header-hover-color: #fff;  // 头部链接
$header-bg-color: $app-theme-color;  // 头部背景色
$header-border-color: $app-bd-color;  // 头部边框色

$user-icon-bg-color: $app-grid-header-bg-color;  // 用户头像背景色
$user-btn-active-bg-color: $app-theme-color-darker;  // 用户下拉框