/* ------------主題包内部定义的变量-------------- */
$messagebox-question-glyph-color: #fe4957;
$messagebox-question-glyph: $fa-var-question-circle 24px $font-icon-font-family;
$messagebox-icon-size: 24px;
$messagebox-error-glyph-color: #fe4957;
$messagebox-error-glyph: $fa-var-times-circle 24px $font-icon-font-family;
$messagebox-info-glyph-color: #fe4957;
$messagebox-info-glyph: $fa-var-times-circle 24px $font-icon-font-family;
$messagebox-warning-glyph-color: #fe4957;
$messagebox-warning-glyph: $fa-var-times-circle 24px $font-icon-font-family;