/* ------------主題包内部定义的变量-------------- */
$panel-border-color: $app-bd-color;
$panel-header-background-color: $app-btn-bg-color;
$panel-header-color: $app-font-color;
$panel-header-padding: 5px;
$panel-header-font-size: $font-size;